@using WEB_06.Models
@model List<Giohang>

@{
    ViewBag.Title = "DatHang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align:center">THÔNG TIN HÀNG HÓA</h2>
<table align="center" border="1">
    <tr style="text-align:center; font-weight:bold">
        <td> Mã Đồng Hồ </td>
        <td> Tên Đồng Hồ </td>
        <td> Ảnh Bìa </td>
        <td> Số Lượng </td>
        <td> Đơn Giá </td>
        <td> Thành Tiền </td>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="text-align:center; font-weight:bold">
            <td>@item.iMadongho</td>
            <td>@item.sTendongho</td>
            <td><img src="~/ImagesSP/@item.sAnhbia"></td>
            @using (Html.BeginForm("CapnhatGiohang", "Giohang", new { @iMaSP = item.iMadongho }))
            {
                <td>
                    @item.iSoluong
                </td>
                <td>@String.Format("{0:0,0}", item.dDongia)</td>
                <td>@String.Format("{0:0,0}", item.dThanhtien)</td>
            }
        </tr>
    }
    <tr style="font-weight:bold; text-align:right; color:red">
        <td colspan="3">Số Lượng SÁCH:@ViewBag.Tongsoluong</td>
        <td colspan="3">Tổng Tiền: @String.Format("{0:0,0}", ViewBag.Tongtien) VNÐ</td>
    </tr>
    <tr style="font-weight:bold; color:blue;text-align:right">
        <td colspan="6">
            @Html.ActionLink("TRỞ VỀ GIỎ HÀNG", "Giohang", "GioHang")
        </td>
    </tr>
</table>
<h2 style="text-align:center">THÔNG TIN ÐẶT HÀNG</h2>
@{
    KHACHHANG kh = (KHACHHANG)Session["Taikhoan"];
}
<table align="center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td>Họ Tên Khách Hàng:</td>
            <td style="font-weight:bold">@kh.HoTen</td>
        </tr>
        <tr style="height:40px">
            <td>Ðịa Chỉ Khách Hàng:</td>
            <td style="font-weight:bold">@kh.DiachiKH</td>
        </tr>
        <tr style="height:40px">
            <td>Ðiện Thoại Khách Hàng:</td>
            <td style="font-weight:bold">@kh.DienthoaiKH</td>
        </tr>
        <tr style="height:40px">
            <td>Ngày Đặt Hàng:</td>
            <td style="font-weight:bold">@DateTime.Now.ToShortDateString()</td>
        </tr>
        <tr style="height:40px">
            <td>Ngày Giao Hàng:</td>
            <td style="font-weight:bold">
                <input type="date" name="Ngaygiao" />
            </td>
        </tr>
        <tr style="height:40px">
            <td></td>
            <td>
                <input type="submit" value="ÐỒNG Ý ÐẶT HÀNG" />
            </td>
        </tr>
    }
</table>

