@model WEB_06.Models.KHACHHANG

@{
    ViewBag.Title = "Chitietkhachhang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;color:red">THÔNG TIN CHI TIẾT KHÁCH HÀNG</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Họ Tên:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            Tài Khoản:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taikhoan)
        </dd>

        <dt>
            Mật Khẩu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matkhau)
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Địa Chỉ KH:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiachiKH)
        </dd>

        <dt>
            Điện Thoại KH:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienthoaiKH)
        </dd>

        <dt>
            Ngày Sinh:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngaysinh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ĐIỀU CHỈNH", "Suakhachhang", new { id = Model.MaKH }) |
    @Html.ActionLink("TRỞ VỀ", "Khachhang")
</p>
