@model WEB_06.Models.DONGHO

@{
    ViewBag.Title = "ChiTietDongho";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;color:red">THÔNG TIN CHI TIẾT ĐỒNG HỒ</h2>

<div>
    <hr />
    <dl class="dl-horizontal">  @*dùng html helpers sẽ tạo ra 1 cái input, displayfor sẽ tạo ra 1 cái tên cho trang web trùng với tên thuộc tính của model*@
        <dt>
            Tên Đồng Hồ:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tendongho)
        </dd>

        <dt>
            Thương Hiệu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THUONGHIEU.TenTH)
        </dd>

        <dt>
            Loại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAISP.TenLoai)
        </dd>


        <dt>
            Giá Bán:
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.Giaban) VNĐ
        </dd>



        <dt>
            Ảnh Bìa:
        </dt>

        <dd>
            <img src="@Url.Content("~/ImagesSP/" + Model.Anhbia)" width="120px" />
        </dd>


        <dt>
            Mô Tả:
        </dt>

        <dd style="width:600px;text-align:justify">
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            Số Lượng Còn Lại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>

        <dt>
            Ngày Cập Nhật:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.Ngaycapnhat)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("ĐIỀU CHỈNH", "SuaDongho", new { id = Model.Madongho }) |
    @Html.ActionLink("TRỞ VỀ", "Dongho")
</p>
