@model IEnumerable<WEB_06.Models.Admin>

@{
    ViewBag.Title = "Phanquyen";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PassAdmin)
        </th>
        <th style="width:200px">Họ Tên</th>
        <th style="width:200px">Chức Vụ</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.UserAdmin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PassAdmin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HoTen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ChucVu)
    </td>
    <td>
       
    </td>
</tr>
}

</table>
