@model WEB_06.Models.DONGHO

@{
    ViewBag.Title = "SuaDongho";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="color:red">CHỈNH SỬA THÔNG TIN ĐỒNG HỒ</h2>

@using (Html.BeginForm("SuaDongho", "ADMIN", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Madongho)
    <div class="form-group">
        @Html.LabelFor(model => model.Madongho, "Mã đồng hồ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <p style="font:18px;padding:5px 0 0 5px">@Model.Madongho</p>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Tendongho, "Tên đồng hồ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Tendongho, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tendongho, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaTH, "Mã thương hiệu", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaTH")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaLoai, "Mã loại", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaLoai")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Giaban, "Giá", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Giaban, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Giaban, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Anhbia, "Ảnh bìa", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            Chọn Ảnh Mới
            <input type="file" name="fileupload" />
            <img src="@Url.Content("~/ImagesSP/" + Model.Anhbia)" width="120px" />(Ảnh hiện tại)
            @ViewBag.Thongbao
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Mota, "Mô tả", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea name="Mota">@Model.Mota</textarea>
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Soluongton, "Số lượng tồn", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Soluongton, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Soluongton, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Ngaycapnhat, "Ngày cập nhật", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="date" name="Ngaycapnhat" />
            @Html.ValidationMessageFor(model => model.Ngaycapnhat, "", new { @class = "text-danger" })
        </div>
    </div>




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Chỉnh Sửa" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("TRỞ VỀ", "Dongho")
</div>

