@using WEB_06.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<WEB_06.Models.THUONGHIEU>

@{
    ViewBag.Title = "Thuonghieu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;color:royalblue">QUẢN LÝ THÔNG TIN THƯƠNG HIỆU</h2>
<p>
    @Html.ActionLink("THÊM MỚI", "Themmoithuonghieu")
</p>
<table class="table" border="1">
    <tr>
        <th style="width:100px">Tên thương hiệu</th>
        <th style="width:100px">Địa chỉ</th>
        <th style="width:100px">Điện thoại</th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenTH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dienthoai)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Suathuonghieu", new { id = item.MaTH }) |
                @Html.ActionLink("Chi tiết", "Chitietthuonghieu", new { id = item.MaTH }) |
                @Html.ActionLink("Xóa", "Xoathuonghieu", new { id = item.MaTH })
            </td>
        </tr>
    }

</table>

@* Tao lien ket cac trang*@

<div class="MenuTrang">
    @Html.PagedListPager(Model, Page => Url.Action("Thuonghieu", new { Page = Page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>