@model WEB_06.Models.DONGHO

@{
    ViewBag.Title = "XoaDongho";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;color:red">XÁC NHẬN THÔNG TIN ĐỒNG HỒ CẦN XÓA</h2>

<h3>Bạn chắc chắn muốn xóa đồng hồ này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Đồng Hồ:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tendongho)
        </dd>
        <dt>
            Giá Bán:
        </dt>

        <dd>
            @String.Format("{0:0,0}", Model.Giaban) VNĐ
        </dd>

        <dt>
            Mô Tả:
        </dt>

        <dd style="width:600px;text-align:justify">
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            Ảnh Bìa:
        </dt>

        <dd>
            <img src="@Url.Content("~/ImagesSP/" + Model.Anhbia)" width="120px" />
        </dd>

        <dt>
            Ngày Cập Nhật:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.Ngaycapnhat)
        </dd>

        <dt>
            Số Lượng Còn Lại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>

        <dt>
            Loại:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOAISP.TenLoai)
        </dd>

        <dt>
            Thương Hiệu:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THUONGHIEU.TenTH)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("TRỞ VỀ", "Dongho")
        </div>
    }
</div>